<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Flask</title>
</head>
<body>
    <h1>Envoyer une newsletter a tous les REMELI/TENNIS FAN!!!!!</h1>
    <form action="/retourF" method="POST">
        <label for="objet">Objet:</label><br>
        <input type="text" id="objet" name="objet"><br><br>
        
        <label for="coprs">Coprs:</label><br>
        <input type="text" id="coprs" name="coprs"><br><br>
        
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>
