<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>FAN PAGE TENNIS</title>
    </head>
    <body style="background-color: rgb(62, 219, 154);">
        <h1>TENNIS FAN</h1>

        <p style="color:red;font-size: 60px;">LA PAGE WEB DES FANS DE TENNIS !!!!</p>
        <h2>Votre compte fan :</h2>
        <ul>
        <li><a href="{{url_for('myform') }}"> Devenir un FAN</a></li>
        <li><a href="{{url_for('myformC') }}"> S'identifier en tant que FAN</a></li>
        </ul>
        <h2>LISTES DES PLUS GRAND JOUEURS DE L HISTOIRE DU TENNIS !!! :</h2>
        <ul>
            <li><a href="{{url_for('about') }}"> Djokovic LE GOAT</a></li>
            <li><a href="{{url_for('remeli') }}"> Remeli TENNIS </a></li>
            <li><a href="{{url_for('manarino') }}"> LE DIVIN CHAUVE</a></li>
            <li><a href="{{url_for('myform') }}"> NEWSLETTERS HERE</a></li>
            <li><a href="{{url_for('mydata') }}"> LISTES DES MEMBRES !!!</a></li>
        </ul>
        <img src="{{url_for('static', filename='mikeGOAT.jpeg')}}" alt="MIKE" style="width:512px;height: auto;">
        <p>><a href="https://fr.wikipedia.org/wiki/Mike_Brant"> lien wikipedia</a></p>
    </body>
</html>