<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>FAN PAGE DJOKOVIC</title>
    </head>
    <body style="background-color: rgb(90, 228, 72);">
        <h1>LE DIVIN CHAUVE LE DIVIN CHAUVE LE DIVIN CHAUVE LE DIVIN CHAUVE LE DIVIN CHAUVE </h1>
        <a href="{{url_for('home') }}"> RETOUR HOME</a>
        <p style="color:red;font-size: 60px;">JOUEUR CHAUVE!!!!</p>
        <img src="{{url_for('static', filename='manarino.jpg')}}" alt="remeli" style="width:512px;height: auto;">
        <p></p><a href="https://fr.wikipedia.org/wiki/Adrian_Mannarino"> lien wikipedia INCONU</a></p>
    </body>
</html>