<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <title>FAN RETOUR</title>
    </head>
    <body style="background-color: rgb(90, 228, 72);">
        <h1>TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS TENNIS</h1>
        <a href="{{url_for('home') }}"> GO MIKE</a>
        <p style="color:red;font-size: 60px;">GOAT DU JEU!!!!</p>
        <ul>
            <li>POF</li>
            <li>DEUXIEME</li>
            <li>TROISIEME</li>
        </ul>
        <img src="{{url_for('static', filename='djokovic.jpg')}}" alt="djokovic" style="width:512px;height: auto;">
        <p></p><a href="https://fr.wikipedia.org/wiki/Novak_Djokovic"> lien wikipedia</a></p>
    </body>
</html>